.title {
  font-size: 18px;
}

.image {
  width: 120px;
  max-height: 240px;
  float: left;
  overflow: hidden;
  border-radius: 4px;
}
.restaurant-container {
  display: flex;
  border-radius: 4px;
  margin: 1em;
}

li {
  list-style: none;
  margin: 0.2em;
}

.restaurant-information {
  text-align: left;
  padding: 0 1em;
  justify-content: center;
  width: 100%;
  font-size: 0.6em;
}

.name {
  font-size: 1.2em;
  color: #0073bb;
}

.price,
.categories,
.category {
  display: inline;
}

.rating,
.review_count {
  display: inline;
}

ol {
  padding: 0;
}

@media (min-width: 767px) {
  .title {
    font-size: 1.8em;
  }
  .image {
    width: 280px;
    max-height: 480px;
  }
  .name {
    font-size: 1.5em;
  }
  ol {
    margin: 0.5em 0;
  }
  .restaurant-container {
    margin-left: 2em;
  }
  .restaurant-information {
    font-size: 1.05em;
  }
}

@media (min-width: 1199px) {
  .title {
    font-size: 2em;
  }
  .image {
    width: 350px;
    max-height: 720px;
  }

  .restaurant-container {
    margin-left: 5em;
  }

  .restaurant-information {
    font-size: 1.25em;
  }
}

@media (min-width: 1899px) {
  .restaurant-container {
    margin-left: 15em;
  }
}
