.restaurant img {
  max-height: 300px;
}
.image-container {
  width: 250px;
  height: 250px;
  float: left;
  overflow: hidden;
}

.restaurant-container {
  border: 2px solid red;
}

.restaurant {
  border: 2px solid black;
  width: 100%;
  list-style: none;
}
