.location {
  width: 30vw;
  text-align: center;
}

.input {
  padding: 0.2em;
}
.search-container {
  margin: 1em;
}

.primary-search,
.secondary-search {
  display: flex;
}

@media (min-width: 767px) {
  * {
    font-size: 1.05em;
  }
  .input {
    font-size: 1.5em;
  }
}
